@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kitchen For Kiddos @Model</h1>
    <p>Pick, Schedule and Shop for easy to make meals that are loved by kids</p>
</div>
